#con{
    border: 2px solid green;
    background-color: aqua;
    width: auto;
    height: 500px;
    position: relative;
}
#img{
    position: absolute;
    width: 1250px;
    height:500px ;

}
#link{
    position: absolute;
    margin-top: 450px;
    margin-left: 900px;
}